.main {
    width: 400px;
    height: 830px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.personFront {
    width: 50%;
    height: 80%;
}
.directionBtn{
    width: 50px;
    height: 50px;
}
.game{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.timer{
    margin-top: 20px ;
    width: 100px;
    height: 100px;
    background-color: rgb(136, 136, 136);
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* .interfaceContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
} */
.bottomMenu {
    width: 100%;
    height: 30%;
    background-color: rgb(59, 59, 59);
    z-index: 2;
}
.interface-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: lightgrey;
    display: flex; 
    justify-content: center;
    align-items: space-between;
}
.personinfo-container {
    
}